@import url("https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300..700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@100..700&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;



* {
  font-family: "Signika Negative", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  color: #3b3b3b;
}

/* ////////////////////////swiper slider///////////////// */
#app {
  height: 100%;
}
html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #fff;
  font-family:
    Helvetica Neue,
    Helvetica,
    Arial,
    sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.banner-container {
  position: relative;
  width: 100%;
  
  overflow: hidden;
}

.slide-image {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: opacity 1s ease-in-out;
  opacity: 0;
}

.slide-image.fade-in {
  opacity: 1;
}

.slide-image.fade-out {
  opacity: 0.1;
}

/* Add this to your CSS file */
.slide-image {
  position: relative;
  overflow: hidden;
}

.fade-in {
  animation: fadeIn 0.4s ease-out;
}

.fade-out {
  animation: fadeOut 0.4s ease-in;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
}


.slide-up {
  opacity: 0; /* Initially hidden */
  animation: slideUp 1s ease-out 0.6s forwards; /* 1s delay added */
  animation-fill-mode: forwards; /* Retain the final state of the animation */
}

.slide-down {
  opacity: 1;
  animation: slideDown 1s ease-in 0.6s forwards; /* 1s delay added */
  animation-fill-mode: forwards;
}
@keyframes slideUp {
  from { transform: translateY(200px); opacity: 0; }
  to { transform: translateY(0); opacity: 1; }
}

@keyframes slideDown {
  from { transform: translateY(0); opacity: 1; }
  to { transform: translateY(200px); opacity: 0; }
}


.overlay {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 100%;
  background: linear-gradient(to top, #fb7701, #fb7601b9 );
  transition: width 0.5s ease-out;
  pointer-events: none;
}

.post-container:hover .overlay {
  width: 100%;
}
.description {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0); /* Initially scale to 0 */
  color: white; /* Ensure text color is white */
  text-align: center;
  padding: 2px;
  width: 85%; /* Set width to 85% of the container */
  max-width: 90%; /* Optional: Add a max-width to prevent overflow on very large screens */
  border-radius: 5px;
  font-size: 17px;
  transition: transform 0.5s ease-out; /* Transition scaling */
}

.post-container:hover .description {
  transform: translate(-50%, -50%) scale(1); /* Scale to full size on hover */
}
.description p,
.description strong {
  color: white !important;
  margin: 0;
}